# CORE
- mako-notifier
- psmisc
- sway
- swaylock-effects_20230303-1_amd64.deb
- wdisplays
- wl-clipboard
- wofi
- x11-xserver-utils
- xwayland

# KEYBINDINGS
- light
- playerctl
- pulseaudio-utils

# SCREENSHOT
- grim
- slurp

# SWAYBAR
- iw
- python3-netifaces
- python3-psutil
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
- bumblebee-status
{% else %}
- http://ftp.de.debian.org/debian/pool/main/b/bumblebee-status/bumblebee-status_2.1.6-1_amd64.deb
- http://ftp.de.debian.org/debian/pool/main/p/python-pulsectl/python3-pulsectl_22.3.2-2_all.deb
{% endif %}

# GNOME
- adwaita-icon-theme
- gnome-extra-icons
- gnome-keyring
- gnome-themes-extra
- gtk3-nocsd
- libglib2.0-bin
- mate-polkit
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
- xdg-desktop-portal-gnome
{% else %}
- xdg-desktop-portal-gtk
{% endif %}
- package: gdm3
  live: false
  installed: true
  binary: true

# QT
- qt5-style-plugins
- qtwayland5
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
- qgnomeplatform-qt5
{% else %}
- adwaita-qt
- qt5ct
{% endif %}

# FONTS
- fonts-liberation
- fonts-noto
- fonts-ubuntu
- ttf-mscorefonts-installer

# PYTHON
- python3
- python3-pip
- python3-venv
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
- pipx
{% endif %}

# IMPORTANT
- clipman
- dbus
- libnotify-bin
- pipewire
- pipewire-bin
- policykit-1
- xdg-desktop-portal-wlr
- xsettingsd
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
# - pipewire-alsa
# - pipewire-audio
- pipewire-pulse
{% endif %}
