# MEDIA
{% if overlay.config.packages.media %}
- package: blender # 3d modeling
  live: false
  binary: true
  installed: true
- package: gimp # image editor
  live: false
  binary: true
  installed: true
- package: handbrake # video converter
  live: false
  binary: true
  installed: true
- package: pitivi # video editor
  live: false
  binary: true
  installed: true
{% endif %}

# CLI
{% if overlay.config.packages.cli %}
- curl
- git
- git-lfs
- make
- psmisc
- tree
- vim
{% endif %}

# PYTHON
- python3
- python3-pip
- python3-venv
{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
- pipx
{% endif %}
